<nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <h1 class="title navbar-item"><%= link_to 'CRM', root_path %></h1>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="mainNavbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="mainNavbar" class="navbar-menu">
        <div class="navbar-start">
            <%= link_to 'All Customers', root_path, :class => "navbar-item" %>
            <%= link_to 'Ordered Customers', customers_alphabetized_path, :class => "navbar-item" %>
            <%= link_to 'Customers With No Email', customers_missing_email_path, :class => "navbar-item" %>
        </div>
    </div>
    
</nav>